.nab-b{
    margin-left: 300px;
    gap: 30px;
}

.b-img{
    height: 400px;
}

.carousel-text{
    margin-bottom: 200px;
}

.dis-heading{
    text-align: center;
    margin-top: 60px;
}

.discover{
    margin: 40px 200px;
    gap: 25px;
    width: 1200px;
}

.discover-d{
    gap: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.discover-dd{
    display: flex;
    flex-direction: column;
   gap: 15px;
}

.discover-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ff{
    background-color: bisque;
}

.student-s{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}


.accd{
    margin: 15px 380px;
}

.company-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
}